body {
  background-image: url(./assets/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  font-family: "Langar", cursive;
  color: white;
}

.content {
  padding-top: 30px;
}

.container {
  padding-top: 20px;
  width: 550px;
  height: 450px;
  background-color: rgb(204, 195, 198, 0.7);
}

.quiz-title, .intro-text {
  text-align: center;
  color: white;
}

.answers-section {
}

.answers-btn {
  width: 48.5%;
  height: 75px;
  margin: 3px;
  text-align: center;
}

.quiz {
  align-content: center;
}

.question, .question-count {
  text-align: center;
}

button{
    width: 48.5%;
    height: 100px;
    margin: 3px;
}
