body {
  background-image: url(./assets/background-image.png);
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: white;
}

h1,
h5,
#intro-text,
#start-btn {
  font-family: "Langar", cursive;
}

.content {
  padding-top: 30px;
}

.container {
  padding-top: 5px;
  width: 500px;
  height: 455px;
  background: linear-gradient(to top, transparent, rgb(9, 32, 48, 0.9));
  /* background-color: rgb(204, 195, 198, 0.7); */
}

.r-container {
  padding-top: 5px;
  width: 500px;
  height: 300px;
  margin: auto;
  background: rgb(9, 32, 48, 0.7);
  /* background-color: rgb(204, 195, 198, 0.7); */
}

.quiz {
  align-content: center;
}

.quiz-title,
#intro-text {
  text-align: center;
  color: white;
}

.answers-section {
  text-align: center;
}

.question {
  margin: auto;
  height: 60px;
  width: 550px;
  text-align: center;
}

.answers-btn {
  width: 420px;
  height: 60px;
  margin: 6px;
  text-align: center;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}

.results-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .r-container {
  padding-top: 20px;
  width: 500px;
  height: 300px;
  background-color: linear-gradient(to top, transparent rgb(204, 195, 198, 0.7));
  text-align: center;
} */

.photo-container {
  width: 500px;
  margin: auto;
}

#result-container {
  padding-top: 10px;
}

.photo {
  width: 500px;
  height: auto;
}

.share {
  color: rgb(174, 165, 170);
  float: right;
}

.share:hover {
  color: rgb(148, 144, 146);
}

.share-icon {
  float: right;
}

#intro-container {
  padding-top: 50px;
}

#tiebreaker-container {
  padding-top: 18px;
}

#copied {
  font-size: xx-small;
  display: none;
}

#start-btn {
  background-color: rgb(156, 12, 24);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border-color: rgb(156, 12, 24);
  margin: -20px -50px;
  position: relative;
  top: 20%;
  left: 45%;
}

#start-btn:hover {
  background-color: rgb(111, 9, 18);
}

#progress {
  margin: auto;
  height: 2px;
  width: 300px;
  line-height: 25px;
}

#progress-bar {
  width: 5.9%;
}

#countdown {
  margin: auto;
  width: 500px;
  font-size: 10px;
}

#display-form {
  display: block;
}

.form {
  width: 500px;
  margin: auto;
  background-color: rgb(9, 32, 48, 0.7);
  padding-left: 10px;
  padding-bottom: 20px;
}

#thanks {
  padding-top: 30px;
  text-align: center;
  display: none;
}

#form-text {
  text-align: center;
}

#spec {
  width: 350px;
}

#answers {
  display: none;
}

.descrip {
  padding: 10px;
}

#submit-form {
  background-color: rgb(156, 12, 24);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border-color: rgb(156, 12, 24);
}

#submit-form:hover {
  background-color: rgb(111, 9, 18);
}

#logo {
  top: 0;
  left: 0;
  position: fixed;
}

#ri-logo {
  padding-left: 5px;
  width: 50px;
  height: auto;
  opacity: 0.5;
}

#created-by {
  font-size: x-small;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
