@media only screen and (max-width: 1024px) {
  body {
    background-image: url(./assets/mobile-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
  }

  .quiz-container {
    padding-top: 80px;
  }

  .container {
    width: 800px;
    height: 800px;
  }

  #intro-text {
    font-size: 50px;
  }

  #start-btn {
    width: 300px;
    height: 90px;
    border-radius: 6px;
    left: 37%;
    font-size: 40px;
  }

  #countdown {
    width: 800px;
  }

  #progress {
    width: 600px;
  }

  .question {
    width: 800px;
    height: 75px;
    font-size: 30px;
  }

  .answers-btn {
    width: 80%;
    height: 100px;
    font-size: 25px;
  }

  .r-container {
    width: 800px;
    height: 650px;
  }

  .photo-container {
    width: 800px;
  }

  .photo {
    width: 800px;
    height: auto;
  }

  .quiz-title {
    font-size: 60px;
  }

  .descrip {
    font-size: 30px;
  }

  #copied {
    font-size: small;
  }

  #form-text {
    font-size: 25px;
    float: left;
  }

  .form {
    width: 800px;
  }

  #spec {
    width: 550px;
    /* height: 35px; */
  }

  #logo {
    width: 100px;
    height: auto;
  }

  #ri-logo {
    width: 80px;
    height: auto;
    padding-left: 13px;
  }

  #created-by {
    font-size: medium;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 600px;
    height: 600px;
  }

  .quiz-title {
    font-size: 50px;
  }

  #intro-text {
    font-size: 30px;
  }

  #start-btn {
    width: 200px;
    height: 70px;
    border-radius: 4px;
    left: 40%;
    font-size: 25px;
  }

  #countdown {
    width: 600px;
  }

  #progress {
    width: 500px;
  }

  .question {
    width: 600px;
    height: 75px;
    font-size: 28px;
  }

  .answers-btn {
    font-size: 23px;
  }

  .photo-container {
    width: 600px;
  }

  .photo {
    width: 600px;
    height: auto;
  }

  .r-container {
    width: 600px;
    height: 400px;
  }

  .descrip {
    font-size: 20px;
  }

  #form-text {
    font-size: 20px;
    text-align: center;
  }

  .form {
    width: 600px;
  }
}

@media only screen and (max-width: 540px) {
  .quiz-title {
    font-size: 35px;
  }

  .container {
    width: 375px;
    left: 10;
  }

  #intro-text {
    font-size: 20px;
  }

  #start-btn {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    left: 42%;
    font-size: 20px;
  }

  #countdown {
    width: 375px;
  }

  #progress {
    width: 320px;
  }

  .question {
    width: 375px;
    height: 60px;
    font-size: 20px;
  }

  .answers-btn {
    width: 320px;
    height: 80px;
    font-size: 17px;
  }

  .photo-container {
    width: 375px;
  }

  .photo {
    width: 375px;
    height: auto;
  }

  .r-container {
    width: 375px;
    height: 375px;
  }

  .descrip {
    font-size: 15px;
  }

  #form-text {
    font-size: 15px;
    text-align: center;
  }

  .form {
    width: 375px;
  }

  #spec {
    width: 250px;
    /* height: 25px; */
  }

  #logo {
    width: 50px;
    height: auto;
  }

  #ri-logo {
    height: 30px;
    width: auto;
    padding-left: 10px;
  }

  #created-by {
    font-size: xx-small;
  }
}

@media only screen and (max-width: 441px) {
  .quiz-title {
    font-size: 33px;
  }

  .container {
    width: 350px;
  }

  #countdown {
    width: 350px;
  }

  #progress {
    width: 300px;
  }

  .question {
    width: 350px;
    height: 75px;
    font-size: 22px;
  }

  .photo-container {
    width: 350px;
  }

  .photo {
    width: 350px;
    height: auto;
  }

  .descrip {
    font-size: 15px;
  }

  #form-text {
    font-size: 15px;
    text-align: center;
  }

  .form {
    width: 350px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    width: 300px;
    height: 500px;
  }

  .quiz-title {
    font-size: 33px;
  }

  #intro-text {
    font-size: 20px;
  }

  #start-btn {
    width: 150px;
    height: 60px;
    /* border-radius: 6px; */
    left: 40%;
    font-size: 20px;
  }

  #countdown {
    width: 300px;
  }

  #progress {
    width: 250px;
  }

  .question {
    width: 300px;
    height: 75px;
    font-size: 20px;
  }

  .answers-btn {
    width: 270px;
    height: 80px;
    font-size: 15px;
  }

  .r-container {
    width: 300px;
    height: 460px;
  }

  .photo-container {
    width: 300px;
    height: auto;
  }

  .photo {
    width: 300px;
    height: auto;
  }

  .descrip {
    font-size: 15px;
  }

  #form-text {
    font-size: 15px;
    text-align: center;
  }

  .form {
    width: 300px;
  }

  #logo {
    width: 50px;
    height: auto;
  }

  #ri-logo {
    height: 30px;
    width: auto;
    padding-left: 10px;
  }

  #created-by {
    font-size: xx-small;
  }
}

@media only screen and (max-width: 360px) {
  .quiz-title {
    font-size: 27px;
  }

  .quiz-container {
    padding-top: 50px;
  }

  .container {
    width: 300px;
    height: 400px;
  }

  .question {
    height: 50px;
    font-size: 17px;
  }

  .answers-btn {
    /* background-color: rgb(111, 9, 18); */
    height: 70px;
    font-size: 15px;
  }

  .descrip {
    font-size: 15px;
  }

  .share {
    color: rgb(168, 159, 164);
  }

  .share:hover {
    color: rgb(168, 159, 164);
  }
}

@media only screen and (max-width: 280px) {
  .quiz-title {
    font-size: 25px;
  }

  .quiz-container {
    padding-top: 55px;
  }

  .container {
    width: 250px;
    height: 400px;
  }

  #countdown {
    width: 250px;
  }

  #progress {
    width: 200px;
  }

  .question {
    width: 250px;
    height: 75px;
    font-size: 17px;
  }

  .answers-btn {
    width: 220px;
    height: 80px;
    font-size: 13px;
  }

  .r-container {
    width: 250px;
    height: 575px;
  }

  .photo-container {
    width: 250px;
    height: auto;
  }

  .photo {
    width: 250px;
    height: auto;
  }

  #form-text {
    font-size: 15px;
  }

  .form {
    width: 250px;
    padding-left: 2px;
  }

  #logo {
    width: 50px;
    height: auto;
  }

  #ri-logo {
    height: 30px;
    width: auto;
    padding-left: 10px;
  }

  #created-by {
    font-size: xx-small;
  }
}
